In [1]:
import pandas as pd
import os

from datetime import date
from pathlib import Path

In [2]:
path = Path("data")
entries = [path / entry for entry in os.listdir(path) if entry.endswith(".csv")]
list(entries)

[PosixPath('data/20240107_products.csv'),
 PosixPath('data/20240128_products.csv'),
 PosixPath('data/20240626_products.csv'),
 PosixPath('data/20240225_products.csv'),
 PosixPath('data/20240407_products.csv'),
 PosixPath('data/20240508_products.csv'),
 PosixPath('data/20240403_products.csv'),
 PosixPath('data/20240221_products.csv'),
 PosixPath('data/20240324_products.csv'),
 PosixPath('data/20240306_products.csv'),
 PosixPath('data/20240124_products.csv'),
 PosixPath('data/20231231_products.csv'),
 PosixPath('data/20240121_products.csv'),
 PosixPath('data/20240512_products.csv'),
 PosixPath('data/20240417_products.csv'),
 PosixPath('data/20240707_products.csv'),
 PosixPath('data/20240519_products.csv'),
 PosixPath('data/20240117_products.csv'),
 PosixPath('data/20240623_products.csv'),
 PosixPath('data/20240214_products.csv'),
 PosixPath('data/20240605_products.csv'),
 PosixPath('data/20240630_products.csv'),
 PosixPath('data/20240616_products.csv'),
 PosixPath('data/20240714_products.csv'),
 PosixPath('data/20240529_products.csv'),
 PosixPath('data/20240515_products.csv'),
 PosixPath('data/20240104_products.csv'),
 PosixPath('data/20240505_products.csv'),
 PosixPath('data/20240410_products.csv'),
 PosixPath('data/20240421_products.csv'),
 PosixPath('data/20240612_products.csv'),
 PosixPath('data/20240313_products.csv'),
 PosixPath('data/20240131_products.csv'),
 PosixPath('data/20240114_products.csv'),
 PosixPath('data/20240228_products.csv'),
 PosixPath('data/20240207_products.csv'),
 PosixPath('data/20240721_products.csv'),
 PosixPath('data/20240710_products.csv'),
 PosixPath('data/20240522_products.csv'),
 PosixPath('data/20240602_products.csv'),
 PosixPath('data/20240211_products.csv'),
 PosixPath('data/20240609_products.csv'),
 PosixPath('data/20240414_products.csv'),
 PosixPath('data/20240619_products.csv'),
 PosixPath('data/20240331_products.csv'),
 PosixPath('data/20240320_products.csv'),
 PosixPath('data/20240703_products.csv'),
 PosixPath('data/20240111_products.csv'),
 PosixPath('data/20240327_products.csv'),
 PosixPath('data/20240303_products.csv'),
 PosixPath('data/20240218_products.csv'),
 PosixPath('data/20240310_products.csv'),
 PosixPath('data/20240526_products.csv'),
 PosixPath('data/20240317_products.csv'),
 PosixPath('data/20240424_products.csv'),
 PosixPath('data/20240501_products.csv'),
 PosixPath('data/20240717_products.csv'),
 PosixPath('data/20240204_products.csv'),
 PosixPath('data/20240428_products.csv')]

In [3]:
def load_dataset(csv_path):
    df = pd.read_csv(csv_path)
    filename = csv_path.name
    dataset_date = date(int(filename[0:4]), int(filename[4:6]), int(filename[6:8]))
    column_name_mapping = dict(
        codigo="code",
        marca="brand",
        nombre="name",
        precio=dataset_date,
        categoria="category",
        )
    return df.rename(columns=column_name_mapping)

df = load_dataset(entries[-1])

df.tail()

,id,code,brand,name,2024-04-28,category
2715,17948,104829,ENERGIZER ARGENTINA,ENERGIZER PILA AAA MAX X4U,3399.0,PILAS
2716,141,1429,A BALANZA,MILANESA DE CERDO XKG,6699.0,PREPARADOS
2717,69,127,A BALANZA,MILANESAS DE CARNE XKG,7499.0,PREPARADOS
2718,70,128,A BALANZA,MUSLO DE POLLO REBOZADO XKG,4999.0,PREPARADOS
2719,61,106,A BALANZA,SUPREMA DE POLLO REBOZADA XKG,5499.0,PREPARADOS

In [4]:
duplicated_codes = df.code.value_counts()[lambda count: count > 1]
duplicated_codes

code
117140    2
110560    2
Name: count, dtype: int64

In [5]:
df[lambda item: item.code.isin(duplicated_codes.index)]

,id,code,brand,name,2024-04-28,category
334,4902,110560,EL ABASTECEDOR,CEREALITAS TOSTADAS ARROZ X160,1725.0,GALLETAS / TOSTADAS / GRISINES
335,1475,110560,EL ABASTECEDOR,CEREALITAS TOSTADAS ARROZ X160,1725.0,GALLETAS / TOSTADAS / GRISINES
2470,10413,117140,PRECIOS JUSTOS,GLADE AROMATIZANTE L/V RPTO 175G,6105.0,DESODORANTES DE AMBIENTES
2471,2946,117140,PRECIOS JUSTOS,GLADE AROMATIZANTE L/V RPTO 175G,6105.0,DESODORANTES DE AMBIENTES

In [6]:
categories = df.category.drop_duplicates().reset_index(drop=True)
categories

0                          ACEITES
1                         ADEREZOS
2              APTOS PARA CELIACOS
3                          ARROCES
4                           AZUCAR
                  ...
131    LIMPIEZA DE PISOS Y MUEBLES
132         LIMPIEZA DEL AUTOMOTOR
133                        PAPELES
134                          PILAS
135                     PREPARADOS
Name: category, Length: 136, dtype: object

In [7]:
brands = df.brand.drop_duplicates().reset_index(drop=True)
brands

0                MOLINO CAÃUELAS S.A.
1                       PRECIOS JUSTOS
2                 MOLINOS RIO DE LA PL
3                       EL ABASTECEDOR
4                 ACEITERA GENERAL DEH
                    ...
193                           LIMPIEZA
194                          ROLL PACK
195               TEXTIL CATAMARCA S.A
196                           DROF SRL
197    PAPELERA SAN ANDRES DE GILES SA
Name: brand, Length: 198, dtype: object

In [10]:
products = df[["code", "name", "brand", "category"]]
products

,code,name,brand,category
0,114746,CAÃUELAS AC.OLI.INTEN.LATA.X500C,MOLINO CAÃUELAS S.A.,ACEITES
1,112222,CAÃUELAS AC.OLIVA E/VIR.PETX500,MOLINO CAÃUELAS S.A.,ACEITES
2,112537,CAÃUELAS ACEITE OLIVA E/VIR LATAX500,MOLINO CAÃUELAS S.A.,ACEITES
3,103100,CAÃUELAS ACEITE GIRASOL PET X1.5L,PRECIOS JUSTOS,ACEITES
4,103684,CAÃUELAS ACEITE GIRASOL PET X900CC,PRECIOS JUSTOS,ACEITES
...,...,...,...,...
2715,102136,WASSINGTON POM.LIQ.NEGRA X60G,WASSINGTON S.A.C.I.F,CALZADO
2716,120600,WASSINGTON POM.MARR X65G,WASSINGTON S.A.C.I.F,CALZADO
2717,102139,WASSINGTON POM.MARRON X30GR,WASSINGTON S.A.C.I.F,CALZADO
2718,120599,WASSINGTON POM.NEGRA CALZ.X60G,WASSINGTON S.A.C.I.F,CALZADO
2719,102140,WASSINGTON POM.NEGRA X30GR,WASSINGTON S.A.C.I.F,CALZADO